html {
    text-align: center;
}

body {
    background-color: lightgreen;
}

h2 {
    text-align: center;
}


div {

    text-align: center;
    border: 5px solid #55BA67;
    padding: 20px;
    cursor: crosshair;
}

li {
    list-style: none;
    display: inline;
}